<!DOCTYPE html>
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque modi autem
    nulla adipisci nostrum fuga dignissimos nobis debitis magnam quaerat!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">john smith</h3>
        <p class="quote__organization">BCA Company</p>
      </div>
    </div>
  </footer>
</blockquote>
